@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,700;1,400;1,600&display=swap');
body{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: var(--black);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif; 
}

.theme-color {
  --black: #090908;
  --white: #FFF;
  --primary: #699B04; 
  --gray-100: #F4F7FB;
}

a {
  transition: all ease-in-out;
  -webkit-transition: all ease-in-out;
  -moz-transition: all ease-in-out;
  -ms-transition: all ease-in-out;
}

.header .navbar {
 background-color: var(--white);
 padding: 0;
}
.logo img { 
  width: 148px;
  position: absolute;
  top: 0;
  z-index: 1;
 }
 .main-menu li {
   padding: 24px 8px;
 }
.main-menu li a {
 color: var(--black);
    font-size: 16px;
    font-weight: 500;
    position: relative;
    padding: 0px;
}
.main-menu li a:before {
   display: block;
    position: absolute;
    bottom: 0;
    left: 10%;
    content: "";
    width: 80%;
    height: 3px;
    background-color: var(--primary);
    z-index: 9;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.main-menu li a:hover:before {
  opacity: 1;
  bottom: -7px;
}
.main-menu .book_stay {
background-color: var(--primary);
color:var(--white);  
margin-left: 8px;
cursor: pointer;
}
.main-menu .book_stay:hover {
  opacity: 0.8;
}
.main-menu .book_stay a {
  color:var(--white);  
}

.main-menu .book_stay svg {
     height: 25px;
}

.banner_hero {
  position: relative;
}

.specialty{
  padding-top: 100px;
  padding-bottom: 60px;
  background-color: var(--gray-100);
}
.title_ele {
 margin-bottom: 40px;
}
.title_ele p {
  margin-bottom: 0;
  font-weight: 700;
  color: var(--black);
  font-size: 40px;
  font-family: 'Playfair Display', serif; 
}
.title_ele h2 {
  font-size: 52px;
}
.title_ele h2 > span {
 color: var(--primary);
/* border-bottom: 2px solid rgba(105, 155, 4, 0.3);
 padding-bottom: 3px;*/
font-weight: bold;
border-bottom: 1px solid rgba(105, 155, 4, 0.7);
display: inline-block;
line-height: 0.95;
text-shadow: 2px 2px white, 2px -2px white, -2px 2px white, -2px -2px white;
}
.welcome_item_area {
  display: flex;
  flex-wrap: wrap;
}
.welcome_first_item {
  flex-basis: 40%;
}
.welcome_second_item {
  flex-basis: 30%;
}
.welcome_third_item {
  flex-basis: 30%;
}  
.special_item {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  margin-bottom: 50px;
}
.special_content {
   padding-left: 15px;
}
.special_content p {
  margin-bottom: 0;
  font-size: 18px;
 font-family: 'Poppins';
 text-align: left;
 color: var(--black);
 font-weight: 500;
}

/* home welcome section  */
.welcome {
  padding: 100px 0;
  background-image: url("../img/welcome_background.png");
  background-repeat: round;
}
.welcome div.welcome_area {
  display: flex;
  flex-wrap: wrap;
}
.welcome_content_text {
  padding: 0 15px;
}
.welcome div.welcome_area .welcome_content h2 {
font-size: 52px;  
font-weight: bold;
font-family: 'Playfair Display', serif;
}
.welcome div.welcome_area .welcome_content strong { 
  font-size: 15px;
  color: #090908;
  font-family: 'Poppins';
}
.welcome div.welcome_area .welcome_content p { 
 line-height: 1.8;
 margin-top:12px; 
}

.welcome div.welcome_area .welcome_content {
 flex-basis:50%;
/* padding: 0 0 0 100px;*/
padding-left: calc((100% - 1350px)/2);
}
.welcome div.welcome_area .welcome_img {
flex-basis:50%;
text-align: right;
}
.welcome div.welcome_area .welcome_img .welcome_img_area {
display: inline-block;
position: relative;
}
.welcome div.welcome_area .welcome_img .welcome_img_area img.welcome_beach_huts {
width: 640px;
position: relative;
z-index: 2;
top: 14px;
/*right: 15px;*/
}
.welcome div.welcome_area .welcome_img .welcome_img_area .welcome_pattern {
 position: absolute;
 top: -54px;
 left:14px;
 z-index: 1;
}
.welcome div.welcome_area .welcome_content a.book_stay_btn {
 display: inline-block;
 background-color: var(--black);
 padding: 10px 38px;
 color: #FFF;
 border-radius: 0px 100px 100px 100px;
 text-decoration:none;
 font-size: 18px;
 transition: all 0.3s ease;
}
.welcome div.welcome_area .welcome_content a.book_stay_btn:hover {
   background-color: var(--primary);
 }
.welcome .welcome_img .welcome_img_area a.explore_goa_btn {
 position: absolute;
 left: 59%;
 bottom: 15%;
 padding: 10px 28px;
 color: #FFF;
 border-radius: 0px 100px 100px 100px;
 text-decoration:none;
 font-size: 18px;
 background-color: var(--primary);
 z-index: 3;
 transition: all 0.3s ease;
}
.welcome .welcome_img .welcome_img_area a.explore_goa_btn:hover { background-color: var(--black); }
/* home best beach section */
.best_beach_cottages:before {
  content: '';
  
}
div.best_beach_cottages_area {
  display: flex;
  flex-wrap: wrap;
  background: #090908;
  position: relative;
}
/* ribbon css start */
.ribbon {
position: absolute;
left: 30%;
margin-top: 34px;
background: var(--white);
width: 100%;
color: var(--black);
line-height: 85px;
font-size: 42px;
text-align: center;
max-width: 580px;
font-weight: bold;
font-family: 'Playfair Display', serif;
}
.ribbon:before {
    content: '';
    border: 42.5px solid var(--white);
    border-left-color: transparent;
    position: absolute;
    top: 0;
    left: -60px;
 }
 .ribbon:after {
    content: '';
    border: 42.5px solid var(--white);
    border-right-color: transparent;
    position: absolute;
    top: 0;
    right: -60px;
 }
/* ribbon css end */
div.best_beach_cottages_area .best_beach_img {
  width: 50%;
  background-image: url("../img/best-beach.png");
  background-size:cover;
}

div.best_beach_cottages_area .best_beach_content {
  width: 50%;
  padding: 150px 50px 30px 35px;
}
div.best_beach_cottages_area .best_beach_content p {
color: #FFF;
line-height: 26px;
}
div.best_beach_cottages_area .best_beach_content .best_beach_btn {
 display: inline-block;
 background-color: var(--primary);
 padding: 10px 38px;
 color: #FFF;
 border-radius: 0px 100px 100px 100px;
 text-decoration:none;
 font-size: 18px;
}
/* home gallery */
.home_gallery {
  background-image: url("../img/gallary-bg.png");
  padding: 80px 0;
}
.home_gallery .top_gallery_area{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home_gallery .top_gallery_area .gallery_top_heading h2 { 
font-weight: bold;
font-size: 41px;
}

.home_gallery .gallery_cat_tab a.active {
    border-bottom: 2px solid var(--primary);
    border-radius: 0;
    margin-bottom: -3px;

}
.gallery_cat_links .btn {
 border-radius: 0;
}
.home_gallery .gallery_cat_tab .gallery_cat_links {
 border-bottom: 2px solid #ccc;
  display: inline-block;
  }

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 33.333%;
}
@media (max-width: 575px) {
  .grid-sizer,
  .grid-item {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .grid-sizer,
  .grid-item {
    width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .grid-sizer,
  .grid-item {
    width: 33.333%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .grid-sizer,
  .grid-item {
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .grid-sizer,
  .grid-item {
    width: 20%;
  }
} 

.grid-item {
  float: left;
}
.grid-item img {
  display: block;
  max-width: 100%;
  border-radius: 22px;
  padding: 10px 10px;
}

.home_gallery .home_gallery_btn_area {  
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.home_gallery .home_gallery_btn_area .view_gallery_btn {
display: inline-block;
background-color: var(--black);
padding: 10px 38px;
color: #FFF;
border-radius: 0px 100px 100px 100px;
text-decoration:none;
font-size: 18px;
transition: all 0.3s ease;
}
.home_gallery .home_gallery_btn_area .view_gallery_btn:hover { background-color: var(--primary); }
/*  Beach Booking */
.beach_booking {
  padding: 100px 0;
  background-image: url("../img/beach_booking_background.png");
  background-repeat: round;
}

.beach_booking .beach_booking_content h2 {
font-size: 52px;  
font-weight: bold;
font-family: 'Playfair Display', serif;
}

.beach_booking .beach_booking_content p {
line-height: 1.8;
margin-top:12px; 
}
.beach_booking .beach_booking_img {
  position: relative;
  background: transparent;
  z-index: 1;
}

.beach_booking .beach_booking_img .image_square_corner {
  position: absolute;
  background: #699B04;
  border-radius: 20px;
  width: 10vw;
  height: 10vw;
  top: -19px;
  left: -19px;
  z-index: -1;
}

.beach_booking .beach_booking_img img {
border-radius: 12px;
}

.beach_booking .search_form, .top_search_form .search_form {
position: absolute;   
bottom: -26px;
background: var(--white);
border: 1px solid #E3E3E3;
border-radius: 10px;
box-shadow: 0px 0px 20px #00000029;
width: 100%;
padding: 30px 15px;
z-index: 1;
left: 0;
right: 0;
margin: 0 auto;
max-width: 1116px;
}
.beach_booking .search_form input, .top_search_form .search_form input {
  border: none;
  font-weight: 500;
  font-size: 20px;
  position: relative;
  width: 60%;
  color: transparent;
  text-shadow: 0 0 0 #1D1D1D;
}
.beach_booking .search_form input:focus, .top_search_form .search_form input:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
 }
.beach_booking .search_form svg, .top_search_form .search_form .check_in_col svg { 
  position: absolute;
  bottom: 0;
 /* left: 65%;*/
 right: 20%;
}
.beach_booking .search_form svg, .top_search_form .search_form .check_out_col svg { 
  position: absolute;
  bottom: 0;
  /*left: 65%;*/
  right: 20%;
}
.beach_booking .search_form label, .top_search_form .search_form label {
color: #9F9F9F;
text-align: left;
margin:0;
padding-left: 12px;
}

.search_form_btn {
display: inline-block;
background-color: var(--black);
padding: 11px 26px;
color: #FFF;
border-radius: 0px 100px 100px 100px;
text-decoration:none;
font-size: 18px;
align-self: center;
transition: all 0.3s ease;
}
.search_form_btn:hover {
text-decoration:none;
color: var(--white);
background-color: var(--primary);
}
.check_in_col {
  padding-left:10px !important;
}
.check_out_col {
  padding-left:10px !important;
}
.beach_booking .beach_booking_content .demo_pattern {
 position: relative;
 left: 2%;
 top: 56px;
}
/* testimoanial  */
.testimonial {
  background-image: url("../img/testimonial_bg.jpg");
  background-repeat: round;
  min-height: 600px;
}

.testimonial .testimonial_heading {
  color: #090908;
  font-size: 52px;
  padding-top: 100px;
 font-weight: bold;
}

.testimonial .testimonial_content {
background: #FFFFFF;
border-radius: 20px;
padding: 41px 20px;
}
.testimonial .testimonial_content .fa-star.checked {
  color:#FFAA00;
}

.testimonial .carousel-inner {
  max-width: 800px;
    margin: 0 auto;
}

.testimonial .testimonial_icon_quote {
 display: inline-block;
 background-color: var(--primary);
 border-radius: 40px;
 width: 80px;
 height: 80px;
 border: 3px solid #F9FBFC;
 padding-top: 21px;
 position: relative;
 z-index: 1;
 top: 40px;
}
.testimonial #myCarousel a.testimonial_btn_prev {
    background-color: var(--black);
    padding: 12px 15px;
    color: #FFF;
    border-radius: 0px 100px 100px 100px;
    text-decoration: none;
    border: 2px solid #FFFFFF;
    position: absolute;
    top: 96px;
    left: 13%;
}
.testimonial #myCarousel a.testimonial_btn_next {
background-color: var(--black);
padding: 12px 15px;
color: #FFF;
border-radius: 0px 100px 100px 100px;
text-decoration: none;
border: 2px solid #FFFFFF;
position: absolute;
top: 96px;
right: 13%;
}
.testimonial .tripadvisor {
position: absolute;
right: 23%;
bottom: -22px;
}
.testimonial .tripadvisor img {
box-shadow: 0px 3px 6px #00000029;
border: 2px solid #090908;
border-radius: 20px;
}
/* upcoming events  */
.upcoming_events {
  background: #FBFBFD;
  padding-top: 69px;
  padding-bottom: 100px;
}
.upcoming_events .top_heading h2 {
    padding: 30px 0;
    color: var(--black);
    font-weight: bold;
    font-size: 52px;
}
.upcoming_events .left_event_section .left_event_content {
position: absolute;
/*top: 223px;
left: 31px;
right: 45px; */
left:4%;
right: 8%;
bottom: 10%;
color: var(--white);
}
.upcoming_events .left_event_section .left_event_content h3 {
font-family: 'Poppins', sans-serif;
font-size: 26px;
font-weight: bold;
}
.upcoming_events .left_event_section .left_event_content p {
font-family: 'Poppins', sans-serif;
font-size: 14px;
line-height: 1.8;
}
.upcoming_events .left_event_section .left_event_content span {
background: var(--white);
border-radius: 20px;
color: #727272;
padding: 3px 10px;
position: relative;
bottom: 15px;
}
.upcoming_events .left_event_section .card {
background-color: #FBFBFD;
border: 0;
}
.upcoming_events .left_event_section .card img {
border-radius: 20px;
}
.upcoming_events .left_event_section .left_event_content .left_event_btn {
background-color: var(--primary);
padding: 12px 15px;
color: #FFF;
border-radius: 0px 100px 100px 100px;
text-decoration: none;
border: 2px solid #FFFFFF;
position: absolute;
top: 5px;
right: -21px;
}
.upcoming_events .left_event_section .left_event_content .event_rectangle_corner {
position: absolute;
background: #699B04;
width: 5px;
height: 64px;
left: -26px;
}
.upcoming_events .right_event_section .card {
background: var(--white);
border: 1px solid #E3E3E3;
border-radius: 20px;
box-shadow: 0px 0px 20px #00000029;
}
.upcoming_events .right_event_section .card  figure {
margin: 0 0 0;
}
.upcoming_events .right_event_section .card  img {
border-radius: 20px 0 0 20px;
}
.upcoming_events .right_event_section .card {
background-color: #FBFBFD;
border: 0;
margin-bottom: 22px;
z-index: 1;
}
.upcoming_events .right_event_section .right_event_content {
  margin-right: 10px;
}

.upcoming_events .right_event_section .card .row {
  align-items: center;
}

.upcoming_events .right_event_section .right_event_content h3 {
font-family: 'Poppins', sans-serif;
font-size: 20px;
font-weight: bold;
padding-top: 40px;
}
.upcoming_events .right_event_section .right_event_content p {
font-family: 'Poppins', sans-serif;
font-size: 14px;
padding-right: 12px;
line-height: 1.8;
}
.upcoming_events .right_event_section .right_event_content span {
background: #535353;
color: #FBFBFD;
padding: 3px 10px;
position: relative;
border-radius: 20px;
top: 27px;
}

.upcoming_events .right_event_section .right_event_content .right_event_btn {
background-color: var(--primary);
padding: 12px 15px;
color: #FFF;
border-radius: 0px 100px 100px 100px;
text-decoration: none;
border: 2px solid #FFFFFF;
position: absolute;
/*top: 56px;*/
top:40%;
right: -14px;
box-shadow: 0px 3px 6px #00000029;
}

.upcoming_events .right_event_section .card img {
  height: 100%;
  max-height: 202px;
}

.upcoming_events .right_event_section .event_pattern {
position: absolute;
top: -72px;
right: -25px;
}
/* footer */
.footer {
  background-color: var(--black);
}
.footer .fb_area {  
height: 350px;
background: var(--white);
box-shadow: 0px 0px 20px #00000029;
border: 1px solid #E3E3E3;
border-radius: 20px;
position: relative;
bottom: 50px;
text-align: center;
}
.footer .fb_area img:nth-child(1) { 
  padding-top: 20px;
}
.footer .fb_area img:nth-child(2) { 
  padding-top: 30px;
}
.footer .pages { 
 padding-top: 40px;
     padding-left: 40px;
}
/*footer .pages ul li {
position: relative;
}
.footer .pages ul li:before {
 position: absolute;
transform: matrix(0, 1, -1, 0, 0, 0);
background: var(--white);
content: "";
}*/

.footer .pages ul li a {
display: inline-block;
color: #FBFBFD;
margin: 2px 12px;
padding: 11px 0;
text-decoration: none;
}

.footer .address { 
 padding-top: 40px;
}
.footer .address a.phone {
color: var(--white); 
font-family: 'Poppins', sans-serif;
font-size: 30px;
font-weight: bold;
padding-left: 5px;
text-decoration: none;
}
.footer .address a.email { 
color: var(--primary);
padding-left: 20px;
text-decoration: none;
}
.footer .address p { 
padding-top: 13px;
color: var(--white);
text-align: right;
}
.footer .address p.address_text { 
 line-height: 1.7;
}
.footer .copyright {
  color: var(--white);
  font-size: 13px;
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
  position: relative;
  top: 30px;
  opacity: 0.6;
}
.footer .copyright:before {
 content: "";
 display: block;
 width: 380px;
 border-top: 1px solid #FFFFFF;
 left: -389px;
 top: 50%;
 position: absolute;
 opacity: 0.3;
}
/* top banner area  */
.banner_hero img.hero_banner {
width: 100%;
}
.banner_hero .top_banner_content {
position: absolute;
bottom: 30%;
left: 5%;
}
.banner_hero .top_banner_content .banner_heading {
background: #121319;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    padding: 10px 20px;
    color: #FBFBFD;
    font-size: 42px;
    opacity: 0.6;
}
.banner_hero .top_banner_content .banner_title {
    font-size: 80px;
    color: #fff;
    text-shadow: 0 2px black;
    font-weight: 600;
    margin: 12px 0;
}
.banner_hero .top_banner_content .play_circle {
    height: 65px;
    width: 65px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}
.banner_hero .top_banner_content .play_circle svg {
    position: absolute;
    z-index: 5;
    left: 3px;
    right: 0;
    top: 25px;
    margin: 0 auto;
}
.banner_hero .top_banner_content .play_circle::before {
    content: '';
    width: 48px;
    height: 48px;
    background: #FFFFFF;
    position: absolute;
    left: 0;
    right: 0;
    top: 8px;
    bottom: 0;
    margin: 0 auto;
    border-radius: 100px;
}

.banner_hero .top_banner_content .play_circle svg path.a {
    fill: #699b04!important;
}
span.play_text {
    position: absolute;
    left: 85px;
    bottom: 25px;
    color: #fff;
    font-weight: 200;
    font-size: 20px;
}

.banner_hero .top_search_form {
    position: relative;
    top: 58px;
}

@media (min-width: 991px) {
  .toggle__nav, .closebtn {
    display: none;
  }
}
@media (max-width: 991px) {
 
 .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  text-align:center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
}

@media screen and (max-height: 450px) {
  /*.sidenav {padding-top: 15px;}*/
  .sidenav a {font-size: 18px;}
}

@media (min-width: 1200px) {
.container { max-width: 1350px; }
}
/* responsive */
/*@media (min-width: 1281px) { 

}*/
/*@media (min-width: 1281px) {
  .special_content p { font-size: 16px; } 
  .welcome div.welcome_area .welcome_content {
     padding-left: 16px;
  }
}*/
@media(max-width:1200px){
  .container { max-width:100%; }
}
@media (min-width: 1281px) and (max-width: 1350px) {
  .relaxing_beach_form .search_form {
    bottom: 22px;   
  }
  .upcoming_events .right_event_section .card img {
    max-height: 190px;
  } 
}
/*@media (min-width: 1025px) and (max-width: 1280px) {  
   
}*/