.logo-pattern {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-right: 20px;
  &:before,
  &:after {
    content: "";
    width: 50px;
    height: 41px;
    display: inline-block;
  }

  &:before {
    background: $primary;
  }
  &:after {
    background: $secondary;
    margin-left: 20px;
  }
}
.banner {
  background-size: cover;
  min-height: 562px;
  display: flex;
  align-items: center;
  position: relative;
  .heading-line-before {
    &:before {
      width: 4px;
      height: 40px;
      vertical-align: baseline;
    }
  }
  .container {
    position: relative;
    z-index: 1;
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background-image: linear-gradient(
      269deg,
      rgba(31, 42, 57, 0.4) 4%,
      rgba(31, 42, 57, 0) 89%
    );
    top: 0;
    bottom: 0;
    z-index: 1;
  }
  .transparent-bg {
    background: rgba(#fff, 0.2);
    padding: 15px 24px;
    font-size: 16px;
    color: #fff;
    font-family: $inter-SemiBold;
    margin-bottom: 30px;
    display: inline-block;
  }
  h1 {
    font-size: 48px;
    color: #ffffff;
    line-height: 56px;
    font-family: $inter-Bold;
    margin-bottom: 0;
  }
  span {
    font-size: 40px;
    color: #fff;
    line-height: 56px;
    margin-top: 0px;
    margin-bottom: 15px;
    display: inline-block;
  }
  p {
    color: #fff;
    line-height: 24px;
    font-size: 16px;
  }
  &.about-banner {
    min-height: 352px;
  }
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #ffffff;
  position: relative;
  .section-heading {
    margin-top: 20px;
    line-height: 56px;
    margin-bottom: 10px;
  }
  .section-sub-heading {
    @extend .heading-line-before;
    &:before {
      background: $primary !important;
    }
  }
  .section-body {
    margin-top: 40px;
  }
}

.about {
  line-height: 36px;
  font-size: 18px;
  color: #2d4059;
  position: relative;
  &:after {
    content: "";
    background: url(../images/patter_bg.svg);
    position: absolute;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    background-repeat: no-repeat;
    max-width: 300px;
    background-position: right top;
  }
  .container {
    position: relative;
    z-index: 2;
  }
}

.capebility {
  position: relative;
  &:before {
    content: "";
    position: absolute;

    height: 700px;
    width: 100%;
    background: #f4f7fb;
    top: 0;
    left: 0;
  }
}

.list-dash {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    color: $gray-1;

    margin-top: 10px;
    margin-bottom: 10px;
    display: block;

    &:before {
      content: "";
      width: 10px;
      height: 3px;
      background: #2e6cf6;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }
  }
}
.arrow-link {
  &:after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 10px;
    background: url(../images/arrow-right.svg);
    margin-left: 6px;
  }
}

.we-are-catering {
  .bg {
    background: url(../images/federal_silicon_valley.jpg);
    min-height: 660px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
  }
  h3,
  h5 {
    color: #fff;
  }
}

.customer {
  background: rgba(100, 121, 178, 1);
  .container {
    position: relative;
    z-index: 1;
  }

  h2 {
    color: #fff;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    background: url(../images/customers_partners_bg.png);
    width: 100%;
    height: 100%;
    background-position: bottom center;
    background-size: 100%;
    bottom: 0;
    background-repeat: no-repeat;
  }
}

// footer
  .address {
    h6 {
      font-size: 20px;
      color: #fff;
      font-family: $inter-Bold;
      margin-bottom: 20px;
    }
    p {
      vertical-align: unset;
      position: relative;
      display: flex;
      align-items: flex-start;
    }
    img {
      margin-right: 10px;
      margin-top: 5px;
    }
  }
footer {
  background: #282931;
  color: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
  h6 {
    color: #fff;
  }

  .footer-link {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      a {
        color: rgba(150, 159, 172, 1);
        font-size: 14px;
        padding-top: 8px;
        padding-bottom: 8px;
        display: block;
        @include hover-focus-active {
          color: $primary;
          text-decoration: none;
        }
      }
    }
  }
}

.social-icon {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-bottom: 10px;
  li {
    margin: 10px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.icon-plus {
  margin-top: 10px;
  margin-bottom: 10px;
}
.letest-new {
  .date {
    font-size: 12px;
    color: rgba(150, 159, 172, 1);
  }
  .heading {
    color: rgba(45, 64, 89, 1);
  }
  p {
    color: rgba(150, 159, 172, 1);
  }
  .content {
    background: #ffffff;
    box-shadow: 0 20px 40px 0 rgba(45, 64, 89, 0.05);
    border-radius: 3px;
    color: white;
    position: absolute;
    bottom: -33px;
    padding: 25px 15px;
    left: 15px;

    span {
      border: 2px solid $secondary;
      color: $secondary;
      font-size: 14px;
      padding: 5px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}
.img-cnt {
  position: relative;
}

.img-wrapper {
  display: block;
  overflow: hidden;
  position: relative;
}
.img-full {
  width: 100% !important;
  display: block;
  max-width: 100%;
  height: auto;
}
.main-img {
  width: auto;
  height: auto;
  max-width: 100%;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
}
.heading-line-before {
  &:before {
    content: "";
    width: 3px;
    height: 22px;
    display: inline-block;
    background: #fff;
    vertical-align: middle;
    margin-right: 10px;
  }
}
.leaaders {
  margin-bottom: 30px;
  img {
    max-height: 166px;
  }
  .top-box {
    position: relative;
    padding-left: 20px;
    h6 {
      margin-bottom: 0;
    }
    span {
      font-size: 14;
    }
    @extend .heading-line-before;
    &::before {
      position: absolute;
      left: 0;
      top: 50%;
      height: 32px;
      transform: translateY(-50%);
      background: $primary !important;
    }
  }
  p {
    margin-top: 20px;
    font-size: 14px;
  }
}
.partners {
  margin-left: -10px;
  margin-right: -10px;
  div[class*="col"] {
    padding-left: 10px;
    padding-right: 10px;
  }
  .item {
    background: #fff;
    padding: 30px;
    height: 104px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    img {
      max-height: 40px;
    }
  }
}
.offices {
  .item {
    padding: 40px;
    background: rgba(244, 247, 251, 1);

    .address {
      border-bottom:1px solid #9e9e9e47;
      margin-bottom: 0px;
      padding-top: 20px;
      padding-bottom: 20px;
      .title {
        font-size: 20px;
        font-family: $inter-Ragular;
        color:rgba(45,64,89,1);
      }
&:last-child{
  border:0;
}
    }
  }
}
textarea.form-control{
 height: 300px;
}
