$fontsPath:"../fonts";
@font-face {
    font-family: 'Inter-SemiBold';
    src: url('#{$fontsPath}/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),  url('#{$fontsPath}/Inter-SemiBold.woff') format('woff'), url('#{$fontsPath}/Inter-SemiBold.ttf')  format('truetype'), url('#{$fontsPath}/Inter-SemiBold.svg#Inter-SemiBold') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Inter-Regular';
    src: url('#{$fontsPath}/Inter-Regular.eot?#iefix') format('embedded-opentype'),  url('#{$fontsPath}/Inter-Regular.woff') format('woff'), url('#{$fontsPath}/Inter-Regular.ttf')  format('truetype'), url('#{$fontsPath}/Inter-Regular.svg#Inter-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  
@font-face {
  font-family: 'Inter-Bold';
  src: url('#{$fontsPath}/Inter-Bold.eot?#iefix') format('embedded-opentype'),  url('#{$fontsPath}/Inter-Bold.woff') format('woff'), url('#{$fontsPath}/Inter-Bold.ttf')  format('truetype'), url('#{$fontsPath}/Inter-Bold.svg#Inter-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

  

  .inter-samibold{
    font-family: 'Inter-SemiBold';
  }
  .inter-regular{
    font-family: 'Inter-SemiBold';
  }
  .inter-bold{
    font-family: 'Inter-Bold';
  }
  